<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">

    <label>
      Username:
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label>
      Email:
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label>
      Password:
      <input type="password" name="password" placeholder="Your password" />
    </label>
    <br />
    <label>
      Address:
      <input type="text" name="address" placeholder="Address" />
      <input type="text" name="city" placeholder="city" />
      <input type="text" name="postcode" placeholder="postcode" />
      <input type="text" name="country" placeholder="country" />
    </label>

    <button type="submit">Sign Up</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>