<footer class="bg-header-dk py-5 text-center text-white">
  <div>
    <small>&copy; SecondServing -
      {{currentYear}}
      by:
      <a class="px-2" href="https://github.com/denyejorak">Karoly</a>
      <a class="pr-2" href="https://github.com/KarliChristensen">Karli</a>&
      <a class="px-2" href="https://github.com/1slander">Hector</a>for Ironhack
      2023.</small>
  </div>

</footer>