<nav class="navbar bg-header py-7 px-4 text-white gap-3">
  <img src="/images/logo.png" alt="logo" class="logo" />
  <div class="">
    <a href="#" class="open-button mr-3" id="signup">sign up</a>
    <a href="#" class="open-button mr-3" id="login">login</a>

  </div>
</nav>

{{#if userInSession}}
  <a href="/userProfile">Profile</a>
  <a href="#">Adverts</a>
{{else}}

  <dialog class="modal" id="signup">
    <div id="form">
      <h2>Sign Up</h2>
      <form action="/signup" method="POST">

        <label>
          Username:
          <input type="text" name="username" placeholder="Your username" />
        </label>

        <label>
          Email:
          <input type="email" name="email" placeholder="Your email" />
        </label>

        <label>
          Password:
          <input type="password" name="password" placeholder="Your password" />
        </label>
        <br />
        <label>
          Address:
          <input type="text" name="address" placeholder="Adress" />
          <input type="text" name="city" placeholder="city" />
          <input type="text" name="postcode" placeholder="postcode" />
          <input type="text" name="country" placeholder="country" />
        </label>

        <button type="submit">Sign Up</button>
        <button class="close-button">Close</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </dialog>

  <dialog class="modal" id="login">
    <div id="login-form">
      <h2>Log In</h2>
      <form action="/login" method="POST">

        <label>
          Username
          <input type="text" name="username" placeholder="Your username" />
        </label>

        <label>
          Email
          <input type="email" name="email" placeholder="Your email" />
        </label>

        <label>
          Password
          <input type="password" name="password" placeholder="Your password" />
        </label>

        <button type="submit">Log In</button>
        <button type="submit" class="close-button">Close</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </dialog>
{{/if}}
<main>
  <section
    class="bg-section flex flex-col md:flex-col items-center justify-center lg:flex-row w-full py-6"
  >
    <div class="text-center md:2/5 lg:w-2/4 xl:w-2/4 py-6">
      <h1
        class="text-5xl md:mr-4 lg:text-6xl lg:mr-4 text-color font-bold mb-3"
      >Give Food A
        <span class="border-b-2 border-current">Second</span>
        Home</h1>
      <p class="text-color uppercase text-base">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="py-6 md:w-3/5 lg:w-2/5 xl:w-1/4">
      <img class="rounded" src="/images/title_img1.jpg" alt="People cooking" />
    </div>
  </section>
</main>