<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- FONTS --}}
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
{{!-- TAILWIND --}}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer" />
  </head>

  <body>
   
    {{#if userInSession}}
      {{! <a href="/userProfile">Profile</a> }}
      {{! <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
    </form> }}
     {{> header}}
    {{/if}}

    {{{body}}}

     {{> footer}}

    <script src="/js/script.js"></script>
  </body>

</html>