<h1>Reply</h1>

<form action="/contact/{{_id}}" method="POST">
  <label for="recipient">Recipient:</label>
  <input type="text" name="recipient" id="recipient" value="{{creator}}" />

  <label for="subject">Subject:</label>
  <input type="text" name="subject" id="subject" value="{{title}}" />

  <label for="message">Message:</label>
  <textarea name="message" id="message" rows="5"></textarea>

  <button type="submit">Send Message</button>
</form>