*,
*::before,
*::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat";
  --bg-header: #056365;
  --bg-header2: #236042;
  --bg-header-dk: #153a28;
  --bg-section: #f5fcfb;
  --bg-section2: #fefff8;
  --text-color: #08415c;
  --text-color2: #171215;
  --text-white: #fefff8;
}

body {
  margin: 1em;
}

a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
}

a:hover,
a:focus {
  color: rgba(251, 191, 36);
}

h1 {
  /* font-size: 2.5rem; */
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.logo {
  width: 10%;
}

/* ADVERTS CARD */

.card-advert {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(133px, 1fr));
  gap: 3px;
}

.card-advert-info {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Creates a square aspect ratio */
}

.card-advert-info a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-advert-info img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(244, 248, 244);
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-btns {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  color: var(--bg-header2);
}

.bg-header {
  background-color: var(--bg-header2);
}

.bg-header-dk {
  background-color: var(--bg-header-dk);
}

.bg-section {
  background-color: var(--bg-section2);
}

.text-color {
  color: var(--text-color);
}

/* CART */

.cart-item-name {
  position: relative;
  right: 1em;
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */
