<form action="/adverts/adverts" method="POST" enctype="multipart/form-data">
  <label for="title">Title
    <input type="text" name="title" required />
  </label>

  <label for="amount">Amount
    <input type="text" name="amount" required />
  </label>

  <label for="description">Description
    <textarea name="description" required></textarea>
  </label>

  <label for="cost">Cost
    <input type="number" name="cost" />
  </label>

  <label for="imageUrl">Upload Image:
    <input type="file" name="imageUrl" required />
  </label>

  <button type="submit">Post Advert</button>

</form>