<form action="/adverts/adverts" method="POST">
  <label for="title">Title
    <input type="text" name="title" required />
  </label>

  <label for="amount">Amount
    <input type="text" name="amount" required />
  </label>

  <label for="description">Description
    <textarea name="description" required></textarea>
  </label>

  <label for="cost">Cost
    <input type="number" name="cost" />
  </label>

  <button type="submit">Post Advert</button>

</form>