<section class="success h-full bg-section flex flex-col items-center p-7">
  <h1
    class="text-lg font-bold uppercase text-color my-5"
  >{{userInSession.username}}, thanks for your purchase!</h1>

  <p class="mb-5">We have send you a copy of your invoice to
    <span class="font-bold">{{userInSession.email}}</span>
  </p>

  <a href="/adverts">go back!</a>

</section>