{{#if userInSession}}
<h1>Welcome, {{userInSession.username}}</h1>
<a href="/adverts/new">Create advert</a>
<a href="/adverts">See adverts</a>
<a href="/cart">Cart</a>
<a href="/messages">Messages</a>

{{!-- <form id="logout-form" action="/logout" method="POST">
 <button>Logout</button> --}}
</form>
{{/if}}